/* Styles Sheet */

* { margin: 0; padding: 0; }

.wrapper {
  display: grid;

  grid-template: repeat(1, 1fr) / 12.5% 1fr 12.5%;
  grid-template-areas: "header header header"
                       "none_1 content none_2"
                       "footer footer footer";
}

.header {
  padding: 1em 1.25em;
  border: 0.25em solid #e1e1e1;

  grid-area: header;

  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.header .header__title {
  color: rgba(0, 0, 0, 0.8);
  font: 800 1.8em 'Roboto', sans-serif;
  text-align: center;
  text-decoration: underline overline solid #e1e1e1;
}

.header .header__text {
  color: rgba(0, 0, 0, 0.6);
  font: 600 1.2em 'Roboto', sans-serif;
  text-align: center;
}

.content {
  padding: 1.5em 2em;

  grid-area: content;

  display: grid;

  grid-template: repeat(1, auto) / repeat(2, 1fr);
  grid-gap: 1.5em;
}

.content .content__title {
  border-right: 0.5em double #d5d5d5;
  border-left: 0.5em double #d5d5d5;

  font: 800 italic 1.6em 'Roboto', sans-serif;
  text-align: center;
  text-decoration: underline solid #d5d5d5;

  grid-column: 1 / -1;
  grid-row: span 1;
}

.content .article {
  padding: 1em;
  border: 0.25em solid #e1e1e1;

  box-shadow: 0.25em 0.25em 0.1em #d5d5d5;

  grid-column: span 1;
  grid-row: span 1;
}

.content .article .article__text {
  width: 80%;

  margin: 0.5em auto;

  font: 500 1em 'Roboto', sans-serif;
  text-align: justify;
  text-align-last: center;
}

.content .article .figure {
  width: 90%;

  margin: 0.5em auto;
  border: 0.5em double #d5d5d5;
  border-spacing: 1em;
  padding: 0.5em;

  display: grid;
  grid-template: 1fr auto / 1fr;
  grid-gap: 0.5em;

  align-items: center;
  justify-items: center;
}

.content .article .figure .figure__image {
  width: 95%;
  height: auto;
}

.content .article .figure .figure__text {
  font: 700 italic 1.2em serif;
}

.content .article .figure .modal {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  background-color: rgba(0, 0, 0, 0.75);

  display: none;
  justify-content: center;
  align-items: center;

  grid-template: 3em 1fr / 3em 1fr 3em;

  overflow: auto;
}

.content .article .figure .modal .modal__closebtn {
  grid-column: -1 / -2;
  grid-row: 1 / 2;
}

.content .article .figure .modal .modal__closebtn > i {
  color: rgba(255, 255, 255, 0.6);
  font: 600 2.5em 'FontAwesome';
}

.content .article .figure .modal .modal__closebtn:hover,
.content .article .figure .modal .modal__closebtn:focus {
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.content .article .figure .modal .modal-figure {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  display: grid;
  grid-template: 1fr auto / 1fr;

  align-content: center;
  justify-items: center;
}

.content .article .figure .modal .modal-figure .modal-figure__content {
  min-width: 35vw;
  max-width: 65vw;
  max-height: 100vh;

  border: 0.25em double rgba(255, 255, 255, 0.6);
  padding: 0.5em;

  grid-column: span 1;
  grid-row: span 1;
}

.content .article .figure .modal .modal-figure .modal-figure__caption {
  width: 80%;

  margin: 1em;
  border-bottom: 0.15em solid rgba(255, 255, 255, 0.6);

  color: rgba(255, 255, 255, 0.9);
  font: 600 italic 1.45em serif;
  text-align: center;

  grid-column: span 1;
  grid-row: span 1;

  display: block;
}

.footer {
  padding: 1em 2em;

  background-color: #494949;

  grid-area: footer;

  display: grid;
  grid-template: auto auto 1fr / repeat(3, 1fr)
}

.footer .footer__title {
  margin: 0.5rem 0;
  border-bottom: 0.15em solid #999;

  color: white;
  font: 500 1.45em 'Roboto', sans-serif;

  grid-column: 1 / -1;
  grid-row: span 1;
}

.footer .footer__text {
  margin: 0.5rem 0;

  color: white;
  font: 300 1em 'Roboto', sans-serif;

  grid-column: 1 / -1;
  grid-row: span 1;
}

.footer .links {
  margin: 0 0.5em;
  border: 0.25em double #999;
  padding: 0.5em 0.75em;

  grid-column: span 1;
  grid-row: span 1;

}

.footer .links .links__title {
  color: white;
  font: 500 1.25em 'Roboto', sans-serif;
}

.footer .links .list {
  border-left: 0.15em solid #999;
}

.footer .links .list .list__link {
  padding: 0.25em 0.5em;
  list-style: none;
}

.footer .links .list .list__link > a {
  color: white;
  font: 500 1em 'Roboto', sans-serif;
  text-decoration: none;
}

.footer .links .list .list__link > a:hover {
  color: #ccc;
  text-decoration: underline solid #ccc;
}

.footer .links .list .list__link::before {
  padding: 0 0.5em;

  content: "\f08e";
  color: #ccc;
  font: 500 1em 'FontAwesome';
}

@media screen and (max-width: 950px) {
  .content {
    grid-template: repeat(1, 1fr) / repeat(1, 1fr);
  }
  
  .footer {
    grid-template: repeat(1, auto) / repeat(1, 1fr);
  }
}

@media screen and (max-width: 735px) {
  body { font-size: 14px; }

  .wrapper {
    grid-template: auto 1fr auto / repeat(3, 1fr);

    grid-template-areas: "header  header  header"
                         "content content content"
                         "footer  footer  footer";
  }

  .content .article .figure .modal {
    grid-template: 4em 1fr / 1fr 4em;
  }

  .content .article .figure .modal .modal-figure { 
    width: 100vw; 

    grid-column: span 2;
  }

  .content .article .figure .modal .modal-figure .modal-figure__content { 
    max-width: 96vw; 

    border: none;
    padding: none;
  }
}

@media screen and (max-width: 400px) {
  body { font-size: 12px; }
}